<div class="registration_form">
    <form method="post" action="{% url 'registration_register' %}" id="registratios-form">
        {% csrf_token %}
        <label class="control-label requieredField" for="id_name">{{ form.name.label }}</label>
        {{ form.name }}{{ form.name.errors }}
        <label class="control-label requieredField" for="id_lastname">{{ form.lastname.label }}</label>
        {{ form.lastname }}{{ form.lastname.errors }}
        <label class="control-label requieredField" for="id_email">{{ form.email.label }}</label>
        {{ form.email }}{{ form.email.errors }}
        <label class="control-label requieredField" for="id_password1">{{ form.password1.label }}</label>
        {{ form.password1 }}{{ form.password1.errors }}
        <br />
        <button class="button-Register" type="submit">Sign up</button>
    </form>
</div>

{% if request.GET.next %}
    <div>
    <a class="" href="{% url 'socialauth_begin' 'facebook' %}?next={{ request.GET.next }}">Register with Facebook</a>
    </div>
    {% else %}
    <div>
    <a class="" href="{% url 'socialauth_begin' 'facebook' %}{{ request.GET.next }}">Register with Facebook</a>
    </div>
{% endif %}