{% load url from future %}
{% autoescape off %}
{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token as activation_url %}
{{ user.first_name }}, Ha recibido este mensaje porque usted ha socicitado el cambio de contraseña en http://{{ site_name }}

Por favor haga clic en el siguiente enlace para poder efectuar el cambio de contraseña:

{{ protocol }}://{{ domain }}{{ activation_url }}

En caso de que lo haya olvidado su correo electronico asociado es: {{ user.email }}

Gracias,

--
Ligu
{% endautoescape %}
