{% extends "layout/base.html" %}

{% block title %}
Users - Initial registration completed
{% endblock %}

{% block main_content %}
<div class="title_container">
    <div class="wrapper">
        <h2>Registration Complete</h2>
    </div>
</div>
<div class="container registration_content">
    <div class="password_recovery">
        <h2>Initial registration completed</h2>
        <p>An email has been sent you, with instructions to activate your account</p>
        <p>Check out your email inbox for confirmation message and follow the instructions</p>
        <p>
            <a class="button " href="/">Back to home</a>
        </p>
    </div>
</div>
{% endblock main_content %}